@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header{

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
  }
}


.menu{

  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-item--link{
    transition: all .10s;
    color: #436372;
    padding-bottom: 1px;
    @extend %rubik-500;
    font-weight: 15px;
    line-height: 20px;
    &:hover{

      color: $title;
      border-bottom: 1px solid $title;
      @extend %rubik-700;

    }
  }
  &__list-item--link-active{
    color: $title;
    border-bottom: 1px solid $title;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }

  .user-nav__link-search{
    padding: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
    img{
      padding-top: 2px;
    }
  }
  .user-nav__link-menu{
    padding: 20px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
  &__sales{
    display: flex;
    margin: 0 25px;

    border-radius: 50%;

    //position: relative;
  }
  &__sales-link-heart{
    padding: 20px 40px;
    background-color: #fcd7b6;
    margin: 0;
    border-radius: 50px 0 0 50px;
  }
  &__sales-link-basket{
    border-left: 1px solid #fde7d3;
    padding: 20px 40px;
    background-color: #fcd7b6;
    margin: 0;
    border-radius: 0 50px 50px 0;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 28px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
  }

}

.footer{

}
.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    max-width: 200px;
  }
  &__newsletter{
    max-width: 270px;
  }

  &__logo{
    img{
    margin-bottom: 25px;
    }
  }
  &__adress,
  &__phone,
  &__email{
    margin-bottom: 20px;
    display: block;
  }
  &__title{
    margin-bottom: 22px;
     color: $title;
    font-size: 16px;
    line-height: 37px;
    text-transform: uppercase;
    @extend %dmsans-700;
  }
  &__list-item{
    margin-bottom: 16px;
  }
  &__text{
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 15px;
    &::placeholder{
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn{
    background-color: #a3bbc8;
    max-width: 100px;
    border: none;
    padding: 15px;
    color: #fff;
    @extend %dmsans-400;
    font-size: 14px;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  &__list{
    display: flex;
  }
  &__list-link {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #7b7b7b;

    //&:first-child {
    //  border-left: none;
    //}
  }
}

.top-slider{
margin: 0 75px;
  padding: 210px 0 40px;
  background-image: url("../images/slider/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 200px;
  }
  &__title{
    max-width: 420px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 80px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 18px;
    padding: 23px 26px;
  }
  &__img{
    max-width: 100%;
    height: 100%;
  }
  .slick-dots{
    display: flex;
    justify-content: center;

    li{
      button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fde3cc;
        color: #667983;
        border: none;
        margin-right: 10px;
        @extend %rubik-500;
        font-size: 11px;
      }
      &.slick-active{
        button{

        background-color: #fff;
        color: #243f4d;
      }
      }
    }
  }
}

@import "media";