@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header{

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 75px;
  }
}


.menu{

  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-item--link{
    transition: all .10s;
    color: #436372;
    padding-bottom: 1px;
    @extend %rubik-500;
    font-weight: 15px;
    line-height: 20px;
    &:hover{

      color: $title;
      border-bottom: 1px solid $title;
      @extend %rubik-700;

    }
  }
  &__list-item--link-active{
    color: $title;
    border-bottom: 1px solid $title;
  }
}

.user-nav{
  display: flex;
  &__link{
    position: relative;
  }

  .user-nav__link-search{
    padding: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
    img{
      padding-top: 2px;
    }
  }
  .user-nav__link-menu{
    padding: 20px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
  &__sales{
    display: flex;
    margin: 0 25px;

    border-radius: 50%;
  }
  &__sales-link-heart{
    padding: 20px 40px;
    background-color: #fcd7b6;
    margin: 0;
    border-radius: 50px 0 0 50px;
  }
  &__sales-link-basket{
    padding: 20px 40px;
    background-color: #fcd7b6;
    margin: 0;
    border-radius: 0 50px 50px 0;
    position: relative;
  }
  .user-nav__sales-link-basket::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    left: 0;
    top: 14px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 7px;
    right: 28px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
  }

}

.footer{

}
.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  &__contact{
    max-width: 200px;
  }
  &__newsletter{
    max-width: 270px;
  }

  &__logo{
    img{
    margin-bottom: 25px;
    }
  }
  &__adress,
  &__phone,
  &__email{
    margin-bottom: 20px;
    display: block;
  }
  &__title{
    margin-bottom: 22px;
     color: $title;
    font-size: 16px;
    line-height: 37px;
    text-transform: uppercase;
    @extend %dmsans-700;
  }
  &__list-item{
    margin-bottom: 16px;
  }
  &__text{
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    @extend %rubik-400;
    margin-bottom: 35px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 15px;
    &::placeholder{
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn{
    background-color: #a3bbc8;
    max-width: 100px;
    border: none;
    padding: 15px;
    color: #fff;
    @extend %dmsans-400;
    font-size: 14px;
    cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 32px;
  color: #7b7b7b;
  &__list{
    display: flex;
  }
  &__list-link {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #7b7b7b;

    //&:first-child {
    //  border-left: none;
    //}
  }
}

.top-slider{
margin: 0 75px;
  padding: 210px 0 40px;
  background-image: url("../images/slider/slider-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__item{
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 200px;
  }
  &__title{
    max-width: 420px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 80px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 40px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 18px;
    padding: 23px 26px;
  }
  &__img{
    max-width: 100%;
    height: 100%;
  }
  .slick-dots{
    display: flex;
    justify-content: center;

    li{
      button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fde3cc;
        color: #667983;
        border: none;
        margin-right: 10px;
        @extend %rubik-500;
        font-size: 11px;
      }
      &.slick-active{
        button{

        background-color: #fff;
        color: #243f4d;
      }
      }
    }
  }
}

.advantage{
  margin: 0 75px;
  background-color: #fef7f0;
  padding: 45px 145px 45px 145+80px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    max-width: 230px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 52px;
      height: 54px;
      left: -74px;
      top: 13px;
    }
  }
  &__item-24::before{
      background-image: url("../images/24h.png");
  }
  &__item-delivery::before{
    width: 55px;
    height: 37px;
    background-image: url("../images/delivery.png");
  }
  &__item-card::before{
    width: 54px;
    height: 53px;
    background-image: url("../images/credit-card.png");
  }

  &__title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }
  &__text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
  }
}

.product {
  padding: 100px 0 190px;

  &__top {
    text-align: center;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 40px;
    color: $title;
  }

  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 80px;
    color: #8b8b8b;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 20px;
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
   // margin-bottom: 40px;
    //box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }
}
  .product-item{
    min-width: 270px;
    height: 380px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    text-align: center;
    margin-bottom: 40px;
    &__img-box{
      position: relative;
      padding-bottom: 75px;
      overflow: hidden;
    }
    &__image{
      margin: auto;
      padding-top: 25px;
    }
    &__title{
@extend %dmsans-500;
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
    }
    &__price{
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 30px;
      color: #a3bbc8;
    }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  }
.product-item__link-box{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(300%);
  transition: all .3s;
  :hover{
    background-color: #a3bbc8;
    path{
      fill: #fff;
    }
  }
}
.product-item__link{
  margin-right:12px;
  margin-left: 12px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  padding: 11px;
  transition: all .3s;

}


.lamp{
  max-width: 1770px;
  margin: 0 auto 100px;
  &__items{
    display: flex;
    justify-content:space-between ;
  }
  &__item{
    max-width: 870px;
    height: 390px;
    background-color: #feefe2;
  }
  &__item-inner{
    padding: 100px 145px  100px 385px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 233px;
      height: 405px;
      background-image: url("../images/product/lamp-1.png");
      left: 130px;
      top: -90px;
    }
  }
  &__item-inner--2{
    &::after{
      background-image: url("../images/product/lamp-2.png");
    }
  }
  &__title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 25px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 60px;
    border: 1px solid #b3b7b5;
    color: #436372;
    border-radius: 5px;

    @extend %rubik-500;
    font-size: 15px;
    line-height: 20px;
    svg{
      path{
        fill: #436372;
      }
    }
  }
}

.design{
  margin-bottom: 120px;
  &__items{
display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item{
    width: 370px;
    height: 245px;
    padding: 40px 160px 0 35px;
  }
  &-item__title{
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 25px;
    color: #1a1a1a;
    margin-bottom: 15px;
  }
  &-item__category{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 20px;
    color: #a9bfcb;
  }
}

.video-design{
margin-bottom: 110px;
  &__popup{
    max-width: 100%;
    height: 501px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.news{
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: -100px;
  }
  &__top-title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 40px;
    color: #1a1a1a;
  }
  &__top-link{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 20px;
    color: #262626;
    margin-right: 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 7px;
      height: 12px;
      background-image: url("../images/icons/angle-right.svg");
      right: -20px;
      top: 3px;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    transform: translateY(169px);
  }
  &__item{
    width: 370px;
    height: 420px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
  }
  &__item-text-wrapper{
    margin: 35px 27px 55px 30px;
  }
  &__item-text{
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 24px;
    height: 85px;
  }
  &__item-info{
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
  }
  &__item-info-date{
    @extend %rubik-400;
    font-size: 12px;
    line-height: 16px;
    color: #222933;
    margin-right: 30px;
  }
  &__item-info-author{
    @extend %rubik-400;
    font-size: 12px;
    line-height: 16px;
    color: #222933;
  }
}

.partners{
  background-color: #fef7f0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 90px;
  }
}

.breadcrumbs{
  width: 100%;
  height: 125px;
  background-color: #edf1f4;
  margin-bottom: 120px;
  &__inner{
    text-align: center;
    padding: 30px 0;
  }
  &__title{
    @extend %rubik-300;
    font-size: 36px;
    line-height: 40px;
    color: #222933;
  }
  &__links{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 18px;
    color: #8b8f94;
  }
}

.experience{
  &__inner{
  display: flex;
  justify-content: space-between;
    gap: 50px;
    margin-bottom: 120px;
}
  &__image{
    width: 570px;
    height: 676px;
  }
  &__text-inner{
    max-width: 555px;
  }
  &__text-top{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__text-top--num{
    @extend %rubik-700;
    font-size: 140px;
    line-height: 150px;
    color: #a3bbc8;
  }
  &__text-top--text{
    margin-left: 20px;
    p{
      @extend %rubik-400;
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
      margin-top: 5px;
    }
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 40px;
    color: #243f4d;
    margin-bottom: 50px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 39px;
    padding-bottom: 60px;
    border-bottom: 2px solid #ebeef3;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-around;
    h5{
      @extend %dmsans-700;
      font-size: 36px;
      line-height: 38px;
      color: #243f4d;
    }
    span{
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 17px;
      color: #4c4c4c;
    }
  }
  &__bottom-item{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 36px;
      height: 38px;

      left: -55px;
      top: 12px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__bottom-projects::before{
    background-image: url("../images/icons/list.svg");
  }
  &__bottom-revenue::before{
    background-image: url("../images/icons/megaphone.svg");
    width: 44px;
    height: 40px;
  }
  &__bottom-awards::before{
    background-image: url("../images/icons/award.svg");
    width: 43px;
    height: 42px;
  }
}

.statistics{
  width: 100%;
  height: 320px;
  background-color: #fcd7b6;
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 84px;
  }
  &__item{
    align-items: center;
  }
  &__image{
    display: block;
    margin: 0 auto;
  }
}

.team{
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px - 50px;
  }
  &__description {
    max-width: 300px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 40px;
    color: #243f4d;
    margin-bottom: 35px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 42px;
  }
  &__btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #a3bbc8;
    border-radius: 5px;
    border: none;
    @extend %poppins-600;
    font-size: 15px;
    width: 170px;
    height: 48px;
    cursor: pointer;
  }
  &__image-box{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
  &__image-item{
    margin-left: 30px;
  }
  &__photo-description{
    width: 325px;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    transform: translateY(-42px);
  }
  &__photo-description--right{
    display: inherit;
  }
  &__googleplus-link{
    padding-left: 7px;
  }
}

.terms{
  color: #243f4d;
  margin-bottom: 115px;
&__title{
  @extend %rubik-500;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 35px;
}
  &__list{
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset:  item; /* Обнуляем счетчик списка */
    margin-bottom: 75px;
    li:nth-child(-n+9)::before {
      content: '0' counter(item) '.';
      counter-increment: item; /* Задаём имя счетчика */
    }
  }
  &__list-item{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    margin-bottom: 30px;
    p{
      padding-left: 10px;
    }
  }
  &__text{
    margin-bottom: 75px;
  }
}

.modal{
  max-width: 470px;
  margin: 0 auto 120px;
  &__form{

  }
  &__label{
    @extend %rubik-400;
    font-size: 20px;
    line-height: 60px;
    color: #436372;

  }
  &__input{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
  &__btn--login,
  &__btn--create{
    width: 100%;
    height: 60px;
    @extend %rubik-500;
    font-size: 18px;
    margin-top: 37px;

  }
  &__btn--login{
    border: none;
    color: #fff;
    background-color: #a3bbc8;
    margin-bottom: 35px;
  }
  &__link-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #436372;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 34px;
  }
  &__error{
    @extend %rubik-400;
    font-size: 20px;
    color: #436372;
  }
  span{
    display: block;
    text-align: center;
    color: #436372;
    font-size: 20px;

  }
  &__btn--create{
    border: 2px solid #a3bbc8;
    background-color: #fff;
    color: #243f4d;
  }
}

.partners__center{

  &-inner{
    padding-top: 90px;
  }
}

@import "media";



